<header class="bg-[#141414] text-white py-4 px-6 flex justify-between items-center">
    <div class="logo">
        <a href="#">
      <img src="./public/images/logo-olavarriasonido.png" alt="Olavarría Sonido" class="h-12" /></a>
    </div>
    <nav class="flex gap-6">
      <a href="#inicio" class="neon-border">Inicio</a>
      <a href="#Servicios" class="neon-border">Servicios</a>
      <a href="#Eventos" class="neon-border">Eventos</a>
      <a href="#contacto" class="neon-border">Contacto</a>
    </nav>
  </header>